@use "../utils" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $global-font-size;
}


body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: $body-font;
}
