// Font stacks
$montserrat: 'Montserrat';
$courier-prime: 'CourierPrime';
$body-font: $courier-prime, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !default;

// Font weights
$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

// Line heights
$lh-condensed-ultra: 1 !default;
$lh-condensed: 1.25 !default;
$lh-default: 1.5 !default;

// The base body size
$global-font-size: 62.5% !default;
$body-font-size: 1.6rem !default;
$body-font-mobile-size: 1.4rem !default;
$body-line-height: $lh-default !default;

//Heading size  - Scale 1.333
$h1-size: 5.6rem !default;
$h2-size: 4.2rem !default;
$h3-size: 3.2rem !default;
$h4-size: 2.4rem !default;
$h5-size: 1.8rem !default;
$h6-size: 1.3rem !default;
